<div data-role="view" data-title="Agencias Banco de la Nación" data-layout="main" data-model="app.agenciasBancoNacion" 
     data-before-show="app.agenciasBancoNacion.beforeShowBN" data-show="app.agenciasBancoNacion.onShowBN" 
     data-after-show="app.agenciasBancoNacion.afterShowBN" data-before-hide="app.agenciasInterbank.beforeHideIB">

    <!-- START_CUSTOM_CODE_agenciasBancoNacion -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="container-fluid" style="width:100%; min-height:50px;">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" onClick="miPosYAgenciasBN();" class="btn btn-success">
                    MI POSICION Y AGENCIAS
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" onClick="posValmarOficinaYAgenciasBN();" class="btn btn-success">
                    VALMAR Y AGENCIAS
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
    </div>
    <div id="mapDondeEstoyBN" style="width:100%;">
    </div>
    <!-- END_CUSTOM_CODE_agenciasBancoNacion -->
</div>