<div data-role="view" data-title="Donde estoy?" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" data-before-hide="app.home.beforeHide" data-hide="app.home.onHide" data-before-show="app.home.beforeShow">
    <div data-role="header" align="center" style="border: 1px solid rgba(0,0,0,0.1);height:10%;">
        <h3>Donde estoy?</h3>
    </div>
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- INICIO EJEMPLO MAPA OPENSTREETVIEW -->
    <div class="container-fluid" style="width:100%; min-height:50px;">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button id="startSegPosDondeEstoy" type="button" onClick="startSegPOS();" class="btn btn-success" disabled style="width:100%;">
                    BUSCA MI POSICION
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button id="stopSegPosDondeEstoy" type="button" onClick="stopSeguPOS();" class="btn btn-danger" style="width:100%;">
                    STOP
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
    </div>
    <div id="mapDondeEstoy" style="width:100%;">
    </div>
    <!-- FIN EJEMPLO MAPA OPENSTREETVIEW -->
    <!-- END_CUSTOM_CODE_home -->
</div>