<div data-role="view" data-title="Acencias SCOTIABANK" data-layout="main" data-model="app.acenciasScotiabank"  data-before-show="app.acenciasScotiabank.beforeShowSB" data-show="app.acenciasScotiabank.onShowSB" data-after-show="app.acenciasScotiabank.afterShowSB" data-before-hide="app.acenciasScotiabank.beforeHideSB">
    <div data-role="header" align="center" style="border: 1px solid rgba(0,0,0,0.1);height:10%;">
        <img src="images/header/scotia.png" style="height:100%;" />
    </div>
    <!-- START_CUSTOM_CODE_acenciasScotiabank -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="container-fluid" style="width:100%; min-height:50px;">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" onClick="miPosYAgenciasSB();" class="btn btn-success">
                    MI POSICION Y AGENCIAS
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" onClick="posValmarOficinaYAgenciasSB();" class="btn btn-success">
                    VALMAR Y AGENCIAS
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
    </div>
    <div id="mapDondeEstoySB" style="width:100%;">
    </div>
    <!-- END_CUSTOM_CODE_acenciasScotiabank -->
</div>
